//声明变量 $名字: 值;
// scss语法如果大家写错并保存文件的时候，gulp崩溃。

//普通变量  覆盖顺序是自上而下的
$fontSize: 30px;
$fontSize: 12px;


//设置默认变量  只要有新值，就会被新值覆盖
$width: 500px;
$width: 300px !default;

body{
    font-size: $fontSize;
    width: $width;
}

$color: red;  //全局变量
#div1{
    background-color: $color;
    $color: orange; //局部变量
    .box{
        color: $color;
    }
}
#div2{
    background-color: $color; //全局变量
}

$color: red;  //全局变量
#div3{
    background-color: $color;
    $color: orange !global; //全局变量
    .box{
        color: $color;
    }
}
#div4{
    background-color: $color; //全局变量
}


//特殊变量  #{} 进行字符串拼接
$xxx: left;
#div5{
    border-#{$xxx}: 1px solid black;
}