/*
    选择器嵌套
    【注】大家可以直接将css编写效率提高至少3倍。
    【注】学完以后，大家今天开始就要用到你的项目里。
*/
#div1{
    font-size: 30px;
    li{
        width: 20px;
    }
    a{
        display: block;
        //& 父选择器
        //#div1 a:hover
        &:hover{
            color: orange;
        }
        span{
            display: none;
        }
    }
}
