//混合 不是函数，顶多算代码块
//【注】类似C和C++中宏定义

//没有参数的混合
@mixin center-block{
    margin-right: auto;
    margin-left: auto;
}


//上述的代码写完以后要在很多地方去用
#div1{
    @include center-block;
}

#div2{
    @include center-block;
}


//多参数的混合  参数可以带默认值
@mixin xxx($border: 1px solid black, $padding: 30px) {
    border-left: $border;
    border-bottom: $border;
    padding-right: $padding;
}

#div3{
    @include xxx;
}

#div4{
    @include xxx(3px dashed red)
}

#div5{
    @include xxx(3px dashed red, 50px)
}

#div6{
    @include xxx($padding: 100px)
}