//scss 中可以通过继承拓展我们的代码
//普通的警告框样式
.alert{
    font-size: 12px;
    a{
        text-decoration: none;
        &:hover{
            color: orange;
        }
    }
}

//危险警告框
//.alert和.alert子层级的样式全部继承

.alert-danger{
    @extend .alert;
    color: red;
}
.alert-success{
    @extend .alert;
    color: greenyellow;
}

